* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-family {
  font-family: "Fira Sans", sans-serif;
}
.p-body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgba(241, 241, 243, 1);
}
/* shared */
.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1280px;
  margin: 80px auto;
}

/* buttons */
.nav-button {
  padding: 15px 30px;
  color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  font-style: SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.banner-button {
  width: 284px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
}
.vision-btn1,
.vision-btn2,
.vision-btn3 {
  width: 127px;
  height: 41px;
  text-align: center;
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.vision-btn1 {
  background: rgba(84, 144, 245, 1);
}
.vision-btn2 {
  background: rgba(9, 161, 92, 1);
}
.vision-btn3 {
  background: rgba(255, 194, 57, 1);
}
.table-btn {
  width: 152px;
  height: 44px;
  padding: 10px 14px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 4px;
  background: rgba(198, 228, 214, 1);
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
/* navbar */
nav {
  width: 1600px;
  margin: 0 auto;
  padding: 31px 160px;
}
nav .logo {
  color: rgba(14, 14, 14, 1);
  font-style: Bold;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
/* banner */
.banner {
  padding: 100px 80px;
  margin-top: 20px;
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
}
.banner-text {
  width: 622px;
  height: 326px;
}
.banner-text p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 16px;
}
.banner-text h1 {
  color: rgba(14, 14, 14, 1);
  font-size: 56px;
  font-weight: bold;
  line-height: 67px;
  margin-bottom: 24px;
}
/* piller of bd */
.piller-cart {
  gap: 24px;
}
.pillers h2 {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
}
.innovation,
.Sustainability,
.Infrastructure,
.Empowerment {
  width: 302px;
  height: 244px;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.innovation h4,
.Sustainability h4,
.Infrastructure h4,
.Empowerment h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.innovation p,
.Sustainability p,
.Infrastructure p,
.Empowerment p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 254px;
}
/* vision */
.vision h2 {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
.vision p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.vision-cart {
  gap: 24px;
  margin-bottom: 32px;
}
.Digital-Transformation,
.Green-Energy,
.Modern-Infrastructure {
  width: 410.67px;
  height: 325px;
  padding: 32px;
  border-radius: 16px;
}
.Digital-Transformation {
  background: rgba(84, 144, 245, 0.2);
}
.Green-Energy {
  background: rgba(198, 228, 214, 1);
}
.Modern-Infrastructure {
  background: rgba(247, 235, 207, 1);
}
.Digital-Transformation h4,
.Green-Energy h4,
.Modern-Infrastructure h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.Digital-Transformation p,
.Green-Energy p,
.Modern-Infrastructure p {
  width: 346.67px;
  height: 72px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.quote {
  width: 1280px;
  height: 256px;
  padding: 48px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.quote p {
  width: 1232px;
  height: 96px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.quote h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}
/* opinion */
.opinion h2 {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
.t-body {
  width: 1280px;
  height: 409px;
  padding: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
table {
  border-collapse: collapse;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.btn-cell {
  width: 200px;
  height: 92px;
  padding: 24px;
}
.t-cell {
  width: 1017px;
  height: 92px;
  padding: 24px;
  color: rgba(14, 14, 14, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.thead-cell {
  width: 1216px;
  height: 72px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(198, 228, 214, 1);
}
